<div class="container">
  <form class="" action="/" method="post">
    <label for="word">Add a new word:</label>
    <input type="text" name="word" id="word" class="form-control">
    <button type="submit" class="btn-success btn-md">Submit</button>
  </form>

  <!-- insert definition viewing/modification  -->

</div>
