<form action="/words" method="post">
  <div class="form_group">
    <label for="word">Add a new word:</label>
    <input type="text" name="word" id="word" class="form-control">
  </div>
  <button type="submit" class="btn-success btn-md">Submit</button>
</form>

<a href="/">Home</a>
