<h1></h1>

<form class="" action="" method="post">
  <label for="definition">Add a new definition</label>
  <input type="text" name="definition" id="definition">
  <button type="submit" class="btn-primary btn-md">Submit</button>
</form>

<!-- list definitions for each word-->
