<h2><%= @word.word() %></h2>

<h3>Definitions:</h3>
<% @word.definitions().each do |definition| %>
  <ul>
    <li><%= definition.definition %></li>
  </ul>
<% end %>

<h3><a href="/words/<%= @word.id() %>/definitions/new">Add a definition</a></h3><br>
<h3><a href="/">Home</a></h3>
